.user {

    display: flex;
    align-items: baseline;
    width: 10%;
    justify-content: space-around;
  }
  input:disabled {
    border: none;
    background-color: white;
  }
  .comment{
    cursor: pointer;
    text-decoration: underline;
    font-family: -webkit-body;
      /* display: flex; */
      gap: 9px;
  }
  .addComment{
    /* display: flex; */
      gap: 15px;
  
  }
  .add {
    border: solid 2px;
    color: steelblue;
    border-radius: 7px;
  }
  #buttonCommente{
    border: solid 2px;
    color: steelblue;
    border-radius: 7px; 
    background-color: white;
    width: 17%;
  
  }
  .text_img {
    
    
  }
  .comments {
    margin-left: 3%;
  }
  .img-vaccine{
    width: 20%;
  }
  
  
 
input:disabled {
  border: none;
  background-color: white;
}
p.para-vaccine {
  width: 52%;
  text-align: initial;
}
.paragraph {
  text-align: -webkit-center;
}
.showArticle {
  text-align: -webkit-center;
}
.comments {
  margin-left: 3%;
}