.user {

    display: flex;
    align-items: baseline;
    width: 10%;
    justify-content: space-around;
  }
  input:disabled {
    border: none;
    background-color: white;
  }
  .comment{
    cursor: pointer;
    text-decoration: underline;
    font-family: -webkit-body;
      display: flex;
      gap: 9px;
  }
  .addComment{
    /* display: flex; */
      gap: 15px;
  
  }
  .add {
    
  }
  #buttonCommente{
    
  
  }
  .text_img {
    
    
  }
  .comments {
    margin-left: 3%;
    text-align: center;
  }
  .img-vaccine{
    width: 70%;
    height: 78%;
  }
  
  
 
input:disabled {
  border: none;
  background-color: white;
}

.paragraph {
  /* text-align: -webkit-center; */
}
.showArticle {
  /* text-align: -webkit-center; */
}
.comments {
  margin-left: 3%;
}